@model InfoTrackSearch.Models.SearchQuery

@{
    ViewData["Title"] = "Search";
}

<h1>Search view</h1>

<p>Search Engine: @Model.SearchEngine.ToString()</p>
<p>Search Keywords: @Model.Keywords</p>
<p>Looking for URL: @Model.SearchForUrl</p>
<p>Match found at position: @Model.Positions</p>

<div>
    <a asp-action="Index">Back to Search</a>
</div>